.mfButtonContainer{
    padding: 8px 16px;
    border-radius: 30px;
    display: flex;
    cursor: pointer;
    font-weight: 600;
    
    label{
        margin: auto;            
        cursor: pointer
    } 
}

.profileAndHealthTheme {
    background-color: rgb(0, 175, 0);
    color: #fff;
}

.dietTheme {
    background-color: #fdff82;
    color: #000;
}

.workoutTheme {
    background-color: rgb(0, 130, 211);
    color: #fafafa;
}

.generic {
    background-color: #cf1313;
    color: #fff;
}