.mfButtonContainer{
    padding: 16px 32px;
    border-radius: 30px;
    display: flex;
    cursor: pointer;
    
    label{
        font-weight: 600;
        margin: auto;            
        cursor: pointer
    } 
}