.mfButtonContainer{
    padding: 8px 16px;
    border-radius: 30px;
    display: flex;
    cursor: pointer;
    font-weight: 600;

    background-color: var(--mf-button-background-color);
    color: var(--mf-button-text-color);

    
    label{
        margin: auto;            
        cursor: pointer
    } 

    &.profileAndHealthTheme {
        --mf-button-background-color: rgb(0, 131, 0);
        --mf-button-text-color: rgb(16, 29, 16);
    }

    &.dietTheme {
        --mf-button-background-color: #fdff82;
        --mf-button-text-color: #000;
    }

    &.workoutTheme {
        --mf-button-background-color: rgb(0, 80, 167);
        --mf-button-text-color: #fafafa;
    }
}


.profileAndHealthTheme {
    background-color: rgb(0, 175, 0);
    color: #fff;
}

.dietTheme {
    background-color: #fdff82;
    color: #000;
}

.workoutTheme {
    background-color: rgb(0, 130, 211);
    color: #fafafa;
}

.generic {
    background-color: #cf1313;
    color: #fff;
}