* {
  box-sizing: border-box;
  scrollbar-width: thin;
  font-family: 'Montserrat', sans-serif;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;

  --border-radius-big: 24px;
  --border-radius-medium: 16px;
  --border-radius-small: 8px;
  
}

h1,
h2 h3,
h4,
h5,
h6 {
  color: #ffffff;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  text-align: left;
}

h2 {
  font-size: 26px;
  font-weight: 500;
  text-align: left;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  text-align: left;
}

h5 {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin: 20px 0
}

h6 {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin: 20px 0
}

.form-buttons-container {
  display: flex;
  margin: 40px 0 0 auto;
  width: fit-content;
  column-gap: 40px;
}

input {
  :focus {
    outline: none;
    border: none;
  }

  :focus-visible {
    outline: none;
    border: none;
  }
}

.pageHeader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
}

.pageTitleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footerActions {
  display: flex;
  margin-top: 20px;
  column-gap: 20px;
  text-align: right;
}