* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  text-align: left;
}

h2 {
  font-size: 26px;
  font-weight: 500;
  text-align: left;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  text-align: left;
}
