* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  text-align: left;
}

h2 {
  font-size: 26px;
  font-weight: 500;
  text-align: left;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  text-align: left;
}

h5 {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin: 20px 0
}

h6 {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin: 20px 0
}

.form-buttons-container{
    display: flex;
    margin: 40px 0 0 auto;
    width: fit-content;
    column-gap: 40px;
}

input {   
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    :focus{
      outline: none;
      border: none;
    }
    :focus-visible{
      outline:none;
      border: none;
    }
}