.MFFormField {
    height: 60px;
    padding: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    position: relative;
    display: flex;
    
    label:first-child{
        position: absolute;
        top: 4px;
        left: 12px;
        font-size: 14px;
        font-weight: 600;
    }
    input, select{
        height: 26px;
        margin: 16px 0 0 0;
        font-size: 18px;
        border: none;
        background-color: inherit;
        width: 100%;
        outline: none;
    }

    option{
        background-color: inherit;
    }

    input:disabled, select:disabled{
        pointer-events: none;
    }
}