.homeContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    :disabled{
        opacity: 0.4;
        cursor: default;
    }
    .button{
        flex-shrink: 0;
        justify-content: center;
        width: 30%;
        text-align: center;
        display: grid;
        row-gap: 16px;
        grid-template-columns: minmax(0, 1fr);
    }

}