.title {
  font-weight: 600;
  margin: 0;
}

.editorLayout {
  display: grid;
  grid-template-columns: minmax(280px, 1.1fr) minmax(320px, 1.2fr);
  align-items: start;
  margin-top: 20px;
}

.stepsColumn,
.editorColumn {
  background: #000;
  padding: 16px;
  box-shadow: 0 10px 30px rgba(15, 23, 42, 0.04);
  height: 80vh;
  overflow: auto;
}

.stepsColumn{
  border-radius: 16px 0 0 16px;
}

.editorColumn{
  border-radius: 0px 16px 16px 0px;
}

@media (max-width: 900px) {
  .editorLayout {
    grid-template-columns: 1fr;
  }
}