.mfInput {
    height: 60px;
    padding: 8px;
    border: 2px solid white;
    border-radius: 10px;
    position: relative;
    background-color: rgb(158, 158, 158);
    display: flex;
    label:first-child{
        position: absolute;
        top: 4px;
        left: 8px;
        font-size: 14px;
        font-weight: 600;
    }
    input{
        height: 20px;
        margin: 18px 0 0 0;
        font-size: 18px;
        border: none;
        background-color: transparent;
        width: 100%;
        outline: none;
    }
}