.MFError{
    color: rgb(255, 100, 100);
}

.MFErrorIcon{
    border-radius: 100%;
    border: 1px solid;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    display: inline-block;
    label{
        margin: -1px auto;
        display: flex;
        width: fit-content;
        height: fit-content;
        font-size: 14px;
    }
}